<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Blog by Usman Saleem</title>
  <meta name="description" content="Blogging about topics on IT, software development and programming languages and frameworks.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

  <link rel="stylesheet" href="/css/calendar.css">
  <link rel="stylesheet" href="/css/cards.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/custom.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  {{> header}}
  <main>
      <div class="container">
      <div class="row">
        <div class="col s12">
            <h2 class="center-align">Blog</h2>
            <div id="cards-div" class="cards-container">
               {{#each blogItems}}
                 {{> blog-card}}
               {{/each}}
            </div> <!-- cards-div -->
        </div>
        </div> <!-- row -->
    </div> <!-- container -->

  </main>
  <div class="container">
    <div class="row">
      <div class="s12">
          <div id="pagination">
            <ul class="pagination center-align">
              {{#if hasPrevPage}}
              <li class="waves-effect"><a href="{{prevPageUrl}}"><i class="material-icons">chevron_left</i></a></li>
              {{else}}
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              {{/if}}

              {{#each pages}}
              {{#if this.isEllipsis}}
              <li class="disabled"><span>...</span></li>
              {{else if this.isCurrent}}
              <li class="active blue-grey darken-1"><a href="{{this.url}}">{{this.number}}</a></li>
              {{else}}
              <li class="waves-effect"><a href="{{this.url}}">{{this.number}}</a></li>
              {{/if}}
              {{/each}}

              {{#if hasNextPage}}
              <li class="waves-effect"><a href="{{nextPageUrl}}"><i class="material-icons">chevron_right</i></a></li>
              {{else}}
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
              {{/if}}
            </ul>
          </div>
          <span class="badge center-align" data-badge-caption="Pages">{{totalPages}}</span>
          <span class="badge center-align" data-badge-caption="Blog">{{blogCount}}</span>
      </div>
    </div>

  </div>

  {{> footer}}

  <!-- JS -->
  <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-151510598-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

</body>

</html>
